:root {
    --background-color: black;
    --main-text-color: white;
    --sub-text-color: grey;
    --primary-accent-color: #e7fe55;
    --secondary-accent-color: #d3a6ff;
    --primary-text-font: 'Poppins', sans-serif;
    --accent-font: 'Roboto Mono', monospace;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--primary-text-font);
}

.bmi-top-row-title {
    font-size: 1.3vw;
    color: var(--primary-accent-color);
    font-family: var(--accent-font);
}

.bmi-left-pane {
    padding: 2vw;
}

.bmi-left-pane-heading {
    margin-top: 4vw;
    /* margin-left: 5vw; */
    font-size: 2.5vw;
}

.bmi-left-pane-heading b {
    margin-left: 1vw;
}

.bmi-left-pane-inputs {
    margin: 3vw;
}

.bmi-left-pane-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--primary-accent-color);
    color: var(--primary-accent-color);
}

.bmi-left-pane-button:hover {
    background-color: var(--primary-accent-color) !important;
    color: var(--background-color) !important;
}

.bmi-left-pane-suggestions {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vw;
}

.bmi-left-pane-suggestions-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 2vw;
    border: solid 2px var(--primary-accent-color);
}

.bmi-left-pane-suggestions a {
    color: var(--main-text-color);
    text-decoration: none;
}

.bmi-right-pane {
    /* background-color: #e7fe55; */
    height: 100vh;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.bmi-right-pane-card {
    height: 100%;
    background-color: var(--primary-accent-color);
    border-radius: 2vw;
}

.bmi-right-pane-card-bmi-details {
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bmi-right-pane-card-bmi-result {
    height: 50%;
    color: var(--background-color);
    font-size: 1vw;
    text-align: center;
    line-height: 2.5vw;
}

#bmi-right-pane-card-bmi-info {
    height: 50%;
    color: var(--background-color);
    font-size: 1vw;
    text-align: center;
    line-height: 2.5vw;
}